.version.index {
    color: #0000ED;
    background-color: #B80505;
}

@media (min-width: 961px), print {
    #muse_css_mq {
        background-color:#FFFFFF;
    }

    #bp_infinity.active {
        display: block;
    }

    #piper-coffee-logo {
        width: 50%;
        height: 50%;
    }

    #piper-coffee-titolo {
        width: 150%;
        margin-top: 7%;
        margin-left: -20%;
    }

    /* animazione firma */
    .mt-hero-connect-caption {
       animation: fadein 5s;
       -moz-animation: fadein 5s; /* Firefox */  
       -webkit-animation: fadein 5s; /* Safari and Chrome */
       -o-animation: fadein 55s; /* Opera */
    }

    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @-moz-keyframes fadein { /* Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-o-keyframes fadein { /* Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }

    .titolo-centrale {
        margin-left: 32%;
        margin-top: 10%;
        color: gold;
        font-family: serif;
        font-style: italic;
        font-size: 2em;
        text-shadow: 2px 2px black;
    }

    .titolo-centro-dx {
        margin-left: 50%;
        margin-top: 2%;
        color: gold;
        font-family: serif;
        font-style: italic;
        font-size: 2em;
        text-shadow: 2px 2px black;
    }

    #signature {
        width: 33%; 
        margin-left: 33%;
        margin-top: 3%;
    } 

    #page {
        z-index: 1;
        min-height: 570px;
        background-image: none;
        border-width: 0px;
        border-color: #000000;
        background-color: transparent;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #u31819 {
        z-index: 111;
        width: 220px;
        height: 66px;
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        position: relative;
        margin-right: -10000px;
        margin-top: 307px;
        left: -451px;
    }

    #pu30254 {
        z-index: 6;
        margin-right: -10000px;
        width: 20%;
        margin-left: -20.34%;
    }

    #u30254 {
        z-index: 6;
        width: 200px;
        min-height: 66px;
        position: relative;
        margin-left: 8.34%;
    }

    #u30250 {
        z-index: 2;
        width: 200px;
        min-height: 66px;
        margin-top: 10px;
        position: relative;
        margin-left: 8.34%;
    }

    #u30252 {
        z-index: 4;
        width: 200px;
        min-height: 66px;
        position: relative;
        margin-left: 8.34%;
    }

    #u30251 {
        z-index: 3;
        width: 200px;
        min-height: 66px;
        top: -1px;
        margin-bottom: -1px;
        position: relative;
        margin-left: 8.34%;
    }

    #u30253 {
        z-index: 5;
        width: 200px;
        min-height: 66px;
        margin-top: 32px;
        position: relative;
        margin-left: 8.34%;
    }

    #u48971 {
        z-index: 103;
        height: 66px;
        margin-top: 11px;
        position: relative;
        width: 100%;
    }

    #u59025 {
        z-index: 104;
        height: 66px;
        margin-top: 10px;
        position: relative;
        width: 100%;
    }

    #u31814-6 {
        z-index: 105;
        min-height: 14px;
        border-width: 0px;
        background-color: transparent;
        color: #887F7F;
        font-family: emily-austin, sans-serif;
        font-weight: 400;
        position: fixed;
        top: -75px;
        left: 0px;
        width: 20.17%;
    }

    #u31814-3 {
        font-family: brandon-grotesque, sans-serif;
        font-weight: 700;
    }

    #u32573 {
        height: 500px;
        border-width: 0px;
        border-color: transparent;
        background-color: #000000;
        max-width: 100000px;
        position: relative;
        left: -50%;
        margin-left: 600px;
        width: 100%;
    }

    #u32573-wrapper {
        position: fixed;
        top: 0px;
        z-index: 7;
        left: 50%;
        margin-left: -600px;
        width: 100%;
    }

    #pu32182-3 {
        z-index: 80;
        margin-bottom: -1px;
        margin-right: -10000px;
        margin-top: 515px;
        width: 100%;
    }

    #u32182-3 {
        z-index: 80;
        min-height: 0px;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        position: fixed;
        bottom: 0px;
    }

    #u32182-3-bw {
        z-index: 80;
    }

    #u32183-4 {
        z-index: 83;
        min-height: 8px;
        padding-top: 22px;
        padding-bottom: 20px;
        position: fixed;
        bottom: -1px;
        left: 0px;
        width: 53%;
    }

    #u32183-3 {
        margin-left: 44px;
    }

    #buttonu30306 {
        z-index: 53;
        padding-bottom: 13px;
        position: relative;
        margin-right: -10000px;
        margin-top: 43px;
        width: 31.67%;
        left: 11.59%;
    }

    #buttonu30306.ButtonSelected {
        min-height: 0px;
        width: 31.67%;
        margin: 43px -10000px 0px 0%;
    }

    #menuu30307 {
        z-index: 54;
        position: relative;
        margin-right: -10000px;
        width: 73.16%;
        margin-left: 26.85%;
        left: -20px;
        text-shadow: 2px 2px black;
    }

    #u30308 {
        min-height: 59px;
        position: relative;
        margin-right: -10000px;
        width: 32.74%;
    }

    #u30309 {
        padding-bottom: 45px;
        position: relative;
        width: 100%;
    }

    #u30309:hover {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30312-4 {
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 22px;
        width: 100%;
    }

    #u30309:hover #u30312-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30322 {
        min-height: 59px;
        position: relative;
        margin-right: -10000px;
        width: 32.74%;
        left: 33.46%;
    }

    #u30323 {
        padding-bottom: 45px;
        position: relative;
        width: 100%;
    }

    #u30309.MuseMenuActive,#u30323:hover {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30326-4 {
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 22px;
        width: 100%;
    }

    #u30309.MuseMenuActive #u30312-4,#u30323:hover #u30326-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30315 {
        min-height: 59px;
        position: relative;
        margin-right: -10000px;
        width: 32.74%;
        left: 66.91%;
    }

    #u30318 {
        padding-bottom: 45px;
        position: relative;
        width: 100%;
    }

    #u30323.MuseMenuActive,#u30318:hover {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30318:active {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30319-4 {
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 22px;
        width: 100%;
    }

    #u30323.MuseMenuActive #u30326-4,#u30318:hover #u30319-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30318:active #u30319-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u32187 {
        z-index: 94;
        width: 114px;
        padding-bottom: 17px;
        position: fixed;
        bottom: 17px;
        left: 404px;
    }

    #u32194 {
        z-index: 95;
        width: 17px;
        position: fixed;
        bottom: 17px;
        left: 404px;
    }

    #u32195 {
        z-index: 96;
    }

    #u32188 {
        z-index: 101;
        width: 17px;
        position: fixed;
        bottom: 17px;
        left: 436px;
    }

    #u32189 {
        z-index: 102;
    }

    #u32190 {
        z-index: 99;
        width: 17px;
        position: fixed;
        bottom: 17px;
        left: 468px;
    }

    #u32191 {
        z-index: 100;
    }

    #u32192 {
        z-index: 97;
        width: 17px;
        position: fixed;
        bottom: 17px;
        left: 501px;
    }

    #u32194:hover,#u32188:hover,#u32190:hover,#u32192:hover {
        width: 17px;
        min-height: 0px;
        margin: 0px;
    }

    #u32193 {
        z-index: 98;
    }

    #u30329-7 {
        min-height: 11px;
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
        left: -50%;
        margin-left: 82.5px;
        width: 100%;
    }

    #u30329-6 {
        margin-left: 10px;
        margin-right: 10px;
    }

    #u30329-7-wrapper {
        position: fixed;
        top: 32px;
        z-index: 73;
        left: 50%;
        margin-left: -82px;
        width: 13.59%;
    }

    #buttonu30255 {
        z-index: 8;
        padding-bottom: 5px;
        position: relative;
        margin-right: -10000px;
        margin-top: 43px;
        width: 34.25%;
        left: 56.92%;
    }

    #buttonu30255.ButtonSelected {
        min-height: 0px;
        width: 34.25%;
        margin: 43px -10000px 0px 0%;
    }

    #menuu30256 {
        z-index: 9;
        position: relative;
        margin-right: -10000px;
        margin-top: 11px;
        width: 70.81%;
        left: 3.41%;
        text-shadow: 2px 2px black;
    }

    #u30257 {
        min-height: 43px;
        position: relative;
        margin-right: -10000px;
        width: 32.65%;
    }

    #u30258 {
        padding-bottom: 29px;
        position: relative;
        width: 100%;
    }

    #u30318.MuseMenuActive,#u30258:hover {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30260-4 {
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 14px;
        width: 100%;
    }

    #u30318.MuseMenuActive #u30319-4,#u30258:hover #u30260-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30262 {
        top: 43px;
        width: 189.48%;
    }

    #u30265 {
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u30267-3 {
        min-height: 16px;
        padding-top: 4px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u30265.MuseMenuActive #u30267-3 {
        padding-top: 4px;
        padding-bottom: 0px;
        min-height: 16px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30267-2 {
        margin-left: 2px;
        margin-right: 2px;
    }

    #u30288 {
        padding-bottom: 14px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u30291-4 {
        min-height: 16px;
        padding-top: 12px;
        position: relative;
        margin-right: -10000px;
        top: 13px;
        width: 100%;
    }

    #u30288:hover #u30291-4 {
        padding-top: 12px;
        padding-bottom: 0px;
        min-height: 16px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30288.MuseMenuActive #u30291-4 {
        padding-top: 12px;
        padding-bottom: 0px;
        min-height: 16px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30281 {
        padding-bottom: 30px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u30283-4 {
        min-height: 16px;
        position: relative;
        margin-right: -10000px;
        top: 15px;
        width: 100%;
    }

    #u30281:hover #u30283-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 16px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30263,#u30264,#u30285,#u30278,#u30271 {
        position: relative;
        width: 100%;
    }

    #u30274 {
        padding-bottom: 25px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u30265.MuseMenuActive,#u30288.MuseMenuActive,#u30281.MuseMenuActive,#u30274:hover {
        min-height: 0px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30274.MuseMenuActive {
        min-height: 0px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30276-4 {
        min-height: 16px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u30281.MuseMenuActive #u30283-4,#u30274:hover #u30276-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 16px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30274.MuseMenuActive #u30276-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 16px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30291-3,#u30283-3,#u30276-3 {
        margin-left: 25px;
        margin-right: 2px;
    }

    #u30292 {
        min-height: 43px;
        position: relative;
        margin-right: -10000px;
        width: 32.99%;
        left: 33.34%;
    }

    #u30295 {
        padding-bottom: 30px;
        position: relative;
        width: 100%;
    }

    #u30258.MuseMenuActive,#u30295:hover {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30295:active {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30297-4 {
        min-height: 13px;
        position: relative;
        margin-right: -10000px;
        top: 15px;
        width: 100%;
    }

    #u30295:hover #u30297-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 13px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30295:active #u30297-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 13px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30295.MuseMenuActive #u30297-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 13px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30299 {
        min-height: 43px;
        position: relative;
        margin-right: -10000px;
        width: 32.99%;
        left: 67.02%;
    }

    #u30300 {
        padding-bottom: 29px;
        position: relative;
        width: 100%;
    }

    #u30295.MuseMenuActive,#u30300:hover {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30300:active {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30300.MuseMenuActive {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30301-4 {
        min-height: 14px;
        position: relative;
        margin-right: -10000px;
        top: 14px;
        width: 100%;
    }

    #u30258.MuseMenuActive #u30260-4,#u30300:hover #u30301-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30300:active #u30301-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30300.MuseMenuActive #u30301-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 14px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #pu32184-5 {
        z-index: 87;
        width: 0.01px;
        margin-bottom: -1px;
        margin-right: -10000px;
        margin-top: 515px;
    }

    #u32184-5 {
        z-index: 87;
        width: 413px;
        min-height: 13px;
        padding-top: 21px;
        padding-bottom: 21px;
        position: fixed;
        bottom: -1px;
        right: 87px;
    }

    #u32185 {
        z-index: 92;
        width: 31px;
        position: fixed;
        bottom: 17px;
        right: 37px;
    }

    #u32186 {
        z-index: 93;
        margin-bottom: -2px;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 1141px);
    }

    .html {
        background: #000000 url("../images/home-mobile-background.png?crc=424860532") no-repeat center center scroll;
        background-size: cover;
    }

    body {
        position: relative;
    }
}

@media (min-width: 769px) and (max-width: 960px) {
    #muse_css_mq {
        background-color:#0003c0;
    }

    #bp_960.active {
        display: block;
    }

    #page {
        z-index: 1;
        min-height: 500px;
        background-image: none;
        border-width: 0px;
        border-color: #000000;
        background-color: transparent;
        width: 100%;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    #pu59025 {
        z-index: 95;
        padding-bottom: 0px;
        margin-right: -10000px;
        margin-top: 4px;
        width: 25.63%;
        margin-left: -51.05%;
    }

    #u59025 {
        z-index: 95;
        height: 66px;
        position: relative;
        width: 97.57%;
    }

    #u48971 {
        z-index: 94;
        height: 66px;
        margin-top: 18px;
        position: relative;
        width: 97.57%;
        margin-left: 2.44%;
    }

    #u31819 {
        z-index: 102;
        width: 220px;
        height: 66px;
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        position: relative;
        margin-right: -10000px;
        margin-top: 203px;
        left: -467px;
    }

    #pu30254 {
        z-index: 6;
        margin-right: -10000px;
        width: 20.84%;
        margin-left: -22.4%;
    }

    #u30254 {
        z-index: 6;
        width: 200px;
        min-height: 66px;
        position: relative;
    }

    #u30250 {
        z-index: 2;
        width: 200px;
        min-height: 66px;
        margin-top: 10px;
        position: relative;
    }

    #u30252 {
        z-index: 4;
        width: 200px;
        min-height: 66px;
        position: relative;
    }

    #u30251 {
        z-index: 3;
        width: 200px;
        min-height: 66px;
        top: -1px;
        margin-bottom: -1px;
        position: relative;
    }

    #u30253 {
        z-index: 5;
        width: 200px;
        min-height: 66px;
        margin-top: 32px;
        position: relative;
    }

    #u31814-6 {
        z-index: 96;
        min-height: 14px;
        border-width: 0px;
        background-color: transparent;
        color: #887F7F;
        font-family: emily-austin, sans-serif;
        font-weight: 400;
        position: relative;
        margin-right: -10000px;
        margin-top: -40px;
        width: 20.21%;
    }

    #u31814-3 {
        font-family: brandon-grotesque, sans-serif;
        font-weight: 700;
    }

    #u32573 {
        z-index: 7;
        height: 500px;
        border-width: 0px;
        border-color: transparent;
        background-color: #000000;
        max-width: 100000px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #pu32182-3 {
        z-index: 80;
        margin-right: -10000px;
        margin-top: 444px;
        width: 100%;
    }

    #u32182-3 {
        z-index: 80;
        min-height: 0px;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        position: fixed;
        bottom: 0px;
    }

    #u32182-3-bw {
        z-index: 80;
    }

    #u32183-4 {
        z-index: 83;
        min-height: 13px;
        padding-top: 22px;
        padding-bottom: 20px;
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 53.03%;
    }

    #u32183-3 {
        margin-left: 44px;
    }

    #buttonu30306 {
        z-index: 53;
        padding-bottom: 13px;
        position: relative;
        margin-right: -10000px;
        margin-top: 43px;
        width: 31.67%;
        left: 11.57%;
    }

    #buttonu30306.ButtonSelected {
        min-height: 0px;
        width: 31.67%;
        margin: 43px -10000px 0px 0%;
    }

    #menuu30307 {
        z-index: 54;
        position: relative;
        margin-right: -10000px;
        width: 73.03%;
        margin-left: 26.98%;
        left: -21px;
    }

    #u30308 {
        min-height: 59px;
        position: relative;
        margin-right: -10000px;
        width: 32.44%;
    }

    #u30309 {
        padding-bottom: 46px;
        position: relative;
        width: 100%;
    }

    #u30309:hover {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30312-4 {
        min-height: 13px;
        position: relative;
        margin-right: -10000px;
        top: 23px;
        width: 100%;
    }

    #u30309:hover #u30312-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 13px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30322 {
        min-height: 59px;
        position: relative;
        margin-right: -10000px;
        width: 32.89%;
        left: 33.34%;
    }

    #u30323 {
        padding-bottom: 46px;
        position: relative;
        width: 100%;
    }

    #u30309.MuseMenuActive,#u30323:hover {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30326-4 {
        min-height: 13px;
        position: relative;
        margin-right: -10000px;
        top: 23px;
        width: 100%;
    }

    #u30309.MuseMenuActive #u30312-4,#u30323:hover #u30326-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 13px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30315 {
        min-height: 59px;
        position: relative;
        margin-right: -10000px;
        width: 32.89%;
        left: 67.12%;
    }

    #u30318 {
        padding-bottom: 46px;
        position: relative;
        width: 100%;
    }

    #u30323.MuseMenuActive,#u30318:hover {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30318:active {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30319-4 {
        min-height: 13px;
        position: relative;
        margin-right: -10000px;
        top: 23px;
        width: 100%;
    }

    #u30323.MuseMenuActive #u30326-4,#u30318:hover #u30319-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 13px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30318:active #u30319-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 13px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30329-7 {
        min-height: 11px;
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
        left: -50%;
        margin-left: 66.00000000000003px;
        width: 100%;
    }

    #u30329-6 {
        margin-left: 10px;
        margin-right: 10px;
    }

    #u30329-7-wrapper {
        position: fixed;
        top: 32px;
        z-index: 73;
        left: 50%;
        margin-left: -65px;
        width: 13.55%;
    }

    #u32184-5 {
        z-index: 87;
        width: 380px;
        min-height: 13px;
        padding-top: 21px;
        padding-bottom: 21px;
        position: fixed;
        bottom: -1px;
        right: 60px;
    }

    #buttonu30255 {
        z-index: 8;
        padding-bottom: 102px;
        position: relative;
        margin-right: -10000px;
        margin-top: 43px;
        width: 34.28%;
        left: 56.98%;
    }

    #buttonu30255.ButtonSelected {
        min-height: 0px;
        width: 34.28%;
        margin: 43px -10000px 0px 0%;
    }

    #menuu30256 {
        z-index: 9;
        position: relative;
        margin-right: -10000px;
        margin-top: 11px;
        width: 70.83%;
        left: 3.35%;
    }

    #u30257 {
        min-height: 43px;
        position: relative;
        margin-right: -10000px;
        width: 32.62%;
    }

    #u30258 {
        padding-bottom: 30px;
        position: relative;
        width: 100%;
    }

    #u30318.MuseMenuActive,#u30258:hover {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30260-4 {
        min-height: 13px;
        position: relative;
        margin-right: -10000px;
        top: 15px;
        width: 100%;
    }

    #u30318.MuseMenuActive #u30319-4,#u30258:hover #u30260-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 13px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30262 {
        top: 43px;
        width: 182.9%;
    }

    #u30265 {
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u30267-3 {
        min-height: 16px;
        padding-top: 4px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u30265.MuseMenuActive #u30267-3 {
        padding-top: 4px;
        padding-bottom: 0px;
        min-height: 16px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30267-2 {
        margin-left: 2px;
        margin-right: 2px;
    }

    #u30288 {
        padding-bottom: 14px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u30291-4 {
        min-height: 16px;
        padding-top: 12px;
        position: relative;
        margin-right: -10000px;
        top: 13px;
        width: 100%;
    }

    #u30288:hover #u30291-4 {
        padding-top: 12px;
        padding-bottom: 0px;
        min-height: 16px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30288.MuseMenuActive #u30291-4 {
        padding-top: 12px;
        padding-bottom: 0px;
        min-height: 16px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30281 {
        padding-bottom: 43px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u30283-4 {
        min-height: 16px;
        position: relative;
        margin-right: -10000px;
        top: 21px;
        width: 100%;
    }

    #u30281:hover #u30283-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 16px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30263,#u30264,#u30285,#u30278,#u30271 {
        position: relative;
        width: 100%;
    }

    #u30274 {
        padding-bottom: 43px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #u30265.MuseMenuActive,#u30288.MuseMenuActive,#u30281.MuseMenuActive,#u30274:hover {
        min-height: 0px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30274.MuseMenuActive {
        min-height: 0px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30276-4 {
        min-height: 16px;
        position: relative;
        margin-right: -10000px;
        top: 9px;
        width: 100%;
    }

    #u30281.MuseMenuActive #u30283-4,#u30274:hover #u30276-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 16px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30274.MuseMenuActive #u30276-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 16px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30291-3,#u30283-3,#u30276-3 {
        margin-left: 25px;
        margin-right: 2px;
    }

    #u30292 {
        min-height: 43px;
        position: relative;
        margin-right: -10000px;
        width: 32.62%;
        left: 33.48%;
    }

    #u30295 {
        padding-bottom: 30px;
        position: relative;
        width: 100%;
    }

    #u30258.MuseMenuActive,#u30295:hover {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30295:active {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30297-4 {
        min-height: 13px;
        position: relative;
        margin-right: -10000px;
        top: 15px;
        width: 100%;
    }

    #u30258.MuseMenuActive #u30260-4,#u30295:hover #u30297-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 13px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30295:active #u30297-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 13px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30299 {
        min-height: 43px;
        position: relative;
        margin-right: -10000px;
        width: 33.05%;
        left: 66.96%;
    }

    #u30300 {
        padding-bottom: 30px;
        position: relative;
        width: 100%;
    }

    #u30295.MuseMenuActive,#u30300:hover {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30300:active {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30300.MuseMenuActive {
        min-height: 0px;
        width: 100%;
        margin: 0px 0px 0px 0%;
    }

    #u30301-4 {
        min-height: 13px;
        position: relative;
        margin-right: -10000px;
        top: 15px;
        width: 100%;
    }

    #u30295.MuseMenuActive #u30297-4,#u30300:hover #u30301-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 13px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30300:active #u30301-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 13px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u30300.MuseMenuActive #u30301-4 {
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 13px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u32185 {
        z-index: 92;
        width: 31px;
        position: fixed;
        bottom: 15px;
        right: 20px;
    }

    #u32186 {
        z-index: 93;
        margin-bottom: -2px;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 500px);
    }

    .html {
        background: #000000 url("../images/home-mobile-background.jpg?crc=3830554686") no-repeat center center scroll;
        background-size: cover;
    }

    .hidpi.html {
        background-image: url("../images/home-mobile-background_2x.jpg?crc=3828076651");
    }

    body {
        position: relative;
        overflow-x: hidden;
    }
}

@media (max-width: 768px) {
    #muse_css_mq {
        background-color:#000300;
    }

    #bp_768.active {
        display: block;
    }

    #page {
        z-index: 1;
        min-height: 500px;
        background-image: none;
        border-width: 0px;
        border-color: #000000;
        background-color: transparent;
        width: 100%;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    #pu48971 {
        z-index: 30;
        margin-right: -10000px;
        margin-top: 202px;
        width: 33.08%;
        margin-left: -65.89%;
    }

    #u48971 {
        z-index: 30;
        height: 66px;
        position: relative;
        width: 94.49%;
        margin-left: 5.52%;
    }

    #u59025 {
        z-index: 31;
        height: 66px;
        margin-top: 37px;
        position: relative;
        width: 94.49%;
    }

    #u31819 {
        z-index: 38;
        width: 220px;
        height: 66px;
        border-width: 0px;
        border-color: transparent;
        background-color: transparent;
        position: relative;
        margin-right: -10000px;
        margin-top: 15px;
        left: -464px;
    }

    #pu30254 {
        z-index: 6;
        margin-right: -10000px;
        width: 26.05%;
        margin-left: -29.43%;
    }

    #u30254 {
        z-index: 6;
        width: 200px;
        min-height: 66px;
        position: relative;
    }

    #u30250 {
        z-index: 2;
        width: 200px;
        min-height: 66px;
        margin-top: 10px;
        position: relative;
    }

    #u30252 {
        z-index: 4;
        width: 200px;
        min-height: 66px;
        position: relative;
    }

    #u30251 {
        z-index: 3;
        width: 200px;
        min-height: 66px;
        top: -1px;
        margin-bottom: -1px;
        position: relative;
    }

    #u30253 {
        z-index: 5;
        width: 200px;
        min-height: 66px;
        margin-top: 32px;
        position: relative;
    }

    #pbuttonu30843 {
        z-index: 7;
        width: 0.01px;
        margin-right: -10000px;
        margin-top: 21px;
        margin-left: 20px;
    }

    #buttonu30843 {
        z-index: 7;
        width: 42px;
        height: 42px;
        position: relative;
        margin-right: -10000px;
    }

    #buttonu30843.ButtonSelected {
        width: 42px;
        height: 42px;
        min-height: 0px;
        margin: 0px -10000px 0px 0px;
    }

    #u30844 {
        z-index: 8;
        height: 42px;
        position: relative;
        margin-right: -10000px;
        width: 100%;
    }

    #buttonu30843.ButtonSelected #u30844 {
        height: 42px;
        min-height: 0px;
        width: 100%;
        margin: 0px -10000px 0px 0%;
    }

    #u48952 {
        z-index: 29;
        width: 42px;
        height: 42px;
        position: relative;
        margin-right: -10000px;
    }

    #u30845-6 {
        z-index: 9;
        width: 170px;
        min-height: 20px;
        padding-top: 3px;
        padding-bottom: 15px;
        position: relative;
        margin-right: -10000px;
        margin-top: 21px;
        left: 62px;
    }

    #u30845-5 {
        margin-left: 10px;
        margin-right: 10px;
    }

    #u30846 {
        margin-top: 7px;
        margin-bottom: -7px;
    }

    #u30847-4 {
        z-index: 15;
        width: 48px;
        min-height: 21px;
    }

    #u31814-6 {
        z-index: 32;
        width: 319px;
        min-height: 14px;
        border-width: 0px;
        background-color: transparent;
        text-align: center;
        font-family: emily-austin, sans-serif;
        font-weight: 400;
        position: relative;
        margin-right: -10000px;
        margin-top: 230px;
        margin-left: 50%;
        left: -159px;
    }

    #u31814-2 {
        font-size: 80px;
        line-height: 101px;
        color: #FFFFFF;
    }

    #u31814-4 {
        line-height: 15px;
        letter-spacing: 9px;
        color: #D6D6D6;
    }

    #u31814-3 {
        font-family: brandon-grotesque, sans-serif;
        font-weight: 700;
    }

    #pu32183-4 {
        z-index: 20;
        width: 0.01px;
        margin-bottom: -2616px;
        margin-right: -10000px;
        margin-top: 400px;
    }

    #u32183-4 {
        z-index: 20;
        width: 318px;
        min-height: 0px;
        padding-top: 22px;
        padding-bottom: 20px;
        position: fixed;
        bottom: -2616px;
        left: 50%;
        margin-left: -159px;
    }

    #u32183-3 {
        margin-left: 44px;
    }

    #u32184-5 {
        z-index: 24;
        width: 233px;
        min-height: 13px;
        padding-top: 21px;
        padding-bottom: 21px;
        position: fixed;
        bottom: 20px;
        left: 50%;
        margin-left: -112px;
    }

    .css_verticalspacer .verticalspacer {
        height: calc(100vh - 3269px);
    }

    .html {
        background: #000000 url("../images/home-mobile-background.jpg?crc=3830554686") no-repeat center center scroll;
        background-size: cover;
    }

    .hidpi.html {
        background-image: url("../images/home-mobile-background_2x.jpg?crc=3828076651");
    }

    body {
        position: relative;
        overflow-x: hidden;
        min-width: 320px;
    }
}
