.version.menu {
    color: #00000F;
    background-color: #3DDDC8;
}

#muse_css_mq {
    background-color: #FFFFFF;
}

#page {
    z-index: 1;
    min-height: 866px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#pu49032-4 {
    z-index: 36;
    margin-right: -10000px;
    margin-top: 151px;
    width: 18.86%;
    margin-left: 5.21%;
}

#u49032-4 {
    z-index: 36;
    width: 181px;
    min-height: 13px;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFFFFF;
    text-align: left;
    font-size: 19px;
    line-height: 19px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    position: relative;
}

#u49032-4:hover {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 13px;
    width: 181px;
    margin: 0px 0px 0px 0%;
}

#u49115-4 {
    z-index: 40;
    width: 181px;
    min-height: 0px;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFFFFF;
    text-align: left;
    font-size: 19px;
    line-height: 19px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    margin-top: 10px;
    position: relative;
}

#u49121-4 {
    z-index: 44;
    width: 181px;
    min-height: 4px;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFFFFF;
    text-align: left;
    font-size: 19px;
    line-height: 19px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    margin-top: 10px;
    position: relative;
}

#u49121-4:hover {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 4px;
    width: 181px;
    margin: 10px 0px 0px 0%;
}

#u49127-4 {
    z-index: 48;
    width: 181px;
    min-height: 0px;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFFFFF;
    text-align: left;
    font-size: 19px;
    line-height: 19px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    margin-top: 10px;
    position: relative;
}

#u49130-4 {
    z-index: 52;
    width: 181px;
    min-height: 0px;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFFFFF;
    text-align: left;
    font-size: 19px;
    line-height: 19px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    margin-top: 10px;
    position: relative;
}

#u49115-4:hover,#u49127-4:hover,#u49130-4:hover {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 0px;
    width: 181px;
    margin: 10px 0px 0px 0%;
}

#u49136-4 {
    z-index: 56;
    width: 181px;
    min-height: 2px;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFFFFF;
    text-align: left;
    font-size: 19px;
    line-height: 19px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    margin-top: 10px;
    position: relative;
}

#u49136-4:hover {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 2px;
    width: 181px;
    margin: 10px 0px 0px 0%;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 375px);
}

#pu58723 {
    z-index: 60;
    margin-right: -10000px;
    margin-top: -464px;
    width: 100%;
}

#u58723 {
    z-index: 60;
    height: 37px;
    border-style: solid;
    border-color: #7F7F7F;
    background-color: transparent;
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    border-width: 1px 0px 0px;
}

.js body {
    visibility: hidden;
}

.js body.initialized {
    visibility: visible;
}

#u58723-bw {
    z-index: 60;
    height: 37px;
}

#u49035-24 {
    z-index: 2;
    width: 263px;
    min-height: 216px;
    background-color: transparent;
    color: #FFFFFF;
    margin-top: 7px;
    position: relative;
    margin-left: 5.21%;
}

#u49035-2 {
    font-size: 30px;
    line-height: 30px;
    font-family: emily-austin, sans-serif;
    font-weight: 400;
}

#u49035-14 {
    color: #771919;
}

#u49035-19 {
    font-size: 1px;
    line-height: 0px;
}

#u49036 {
    margin-top: -30px;
    margin-bottom: 30px;
}

#u49037 {
    z-index: 26;
    width: 122px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
}

#u49042 {
    z-index: 27;
    width: 23px;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
}

#u49043 {
    z-index: 28;
    display: block;
}

#u49044 {
    z-index: 29;
    width: 23px;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    left: 81.15%;
}

#u49045 {
    z-index: 30;
    display: block;
}

#u49040 {
    z-index: 31;
    width: 23px;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    left: 53.28%;
}

#u49041 {
    z-index: 32;
    display: block;
}

#u49038 {
    z-index: 33;
    width: 23px;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif?crc=4208392903");
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    left: 27.05%;
}

#u49042:hover,#u49044:hover,#u49040:hover,#u49038:hover {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    width: 23px;
    min-height: 0px;
    margin: 0px -10000px 0px 0%;
}

#u49039 {
    z-index: 34;
    display: block;
}

#u49035-11,#u49035-15,#u49035-20,#u49035-21 {
    color: #887F7F;
}

.html {
    background-color: #181818;
}

body {
    position: relative;
    min-width: 320px;
}

.verticalspacer {
    min-height: 491px;
}
